h1 {
  padding: 10px;
  color: #701ca5;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  text-align: center;
  padding: 10px;
  color: #7f65b3;
  font-weight: 500;
}

p {
  font-size: 18px;
  padding: 18px;
  text-align: center;
}

.trcode {
  color: #c30000;
  font-weight: 600;
}

.link-view {
  color: #7b7be8;
  padding: 2px;
  padding-inline: 10px;
  border-radius: 6px;
  background-color: #f6f5ff;
  font-weight: 500;
}