@media screen and (min-width: 0px) and (max-width: 350px) {
  h1 {
    font-size: 14px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  h5 {
    line-height: 20px !important;
    font-size: 10px !important;
  }

  p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
}

@media screen and (min-width: 351px) and (max-width: 576px) {
  h1 {
    font-size: 18px !important;
    line-height: 34px !important;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  h5 {
    line-height: 24px !important;
    font-size: 14px !important;
  }

  p {
    font-size: 16px !important;
    line-height: 28px !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 24px !important;
    line-height: 38px !important;
  }

  h2 {
    font-size: 26px !important;
  }

  h3 {
    font-size: 22px !important;
    line-height: 30px !important;
  }

  h5 {
    line-height: 36px !important;
    font-size: 20px !important;
  }

  p {
    font-size: 20px !important;
    line-height: 36px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  h1 {
    font-size: 28px !important;
    line-height: 38px !important;
  }

  h2 {
    font-size: 26px !important;
  }

  h3 {
    font-size: 22px !important;
    line-height: 32px !important;
  }

  h5 {
    line-height: 42px !important;
    font-size: 24px !important;
  }

  p {
    font-size: 20px !important;
    line-height: 34px !important;
  }
}

// @media screen and (min-width: 992px) {
//   h1 {
//     font-size: 30px !important;
//     line-height: 40px !important;
//   }

//   h2 {
//     font-size: 28px !important;
//   }

//   h3 {
//     font-size: 16px !important;
//     line-height: 20px !important;
//   }

//   h5 {
//     line-height: 40px !important;
//     font-size: 20px !important;
//   }

//   p {
//     font-size: 18px !important;
//     line-height: 32px !important;
//   }
// }
