.answers-panel {
    background-color: #ffffff;
    border-radius: 14px;
    padding: 30px;
}

.container {
    margin-top: 6rem !important;
    margin-bottom: 2rem !important;
}

h1 {
    margin-bottom: 34px;
    font-size: 32px;
    font-weight: bold;
    text-align: center !important;
    color: #08007a;
}

p {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

a {
    font-weight: 400;
    color: #0151a5;
}

h5 {
    font-weight: bold;
    color: #007bff;
}