.modal-header {
  background-color: #c611e6 !important;
}

.modal-header span {
  color: #ffffff;
}

.file-field {
  width: 96% !important;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.modal-body p {
  padding: 10px;
}

.modal-dynamic {
  margin-top: 140px !important;
}
