<mdb-carousel [interval]="slidesConfig.interval" [isControls]="slidesConfig.isControls"
    class="carousel slide full-bg-img" [animation]="slidesConfig.animation">
    <mdb-carousel-item class="view header-banner" *ngFor="let slide of slidesConfig.slides">

        <div class="view w-100">
            <img [ngClass]="{'heightvh': checkedSlideHasUtility(slide)}" class="d-block w-100"
                [src]="slide.backgroundUrl" alt="First slide">
            <div class="mask waves-light" [ngClass]="{'rgba-black-light': checkedSlideHasUtility(slide)}"
                mdbWavesEffect>
                <a
                    (click)="exportLink(slide?.buttons[0]?.id, slide?.buttons[0]?.linkType, slide?.buttons[0]?.link)"></a>
            </div>
        </div>

        <div *ngIf="checkedSlideHasUtility(slide)" class="carousel-caption">
            <div class="animated fadeInDown delay-1s">

                <div class="row">
                    <div class="col-12">

                        <div class="slide-panel white-text text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h1 class="text-center" [ngStyle]="{'color': slide?.textColor}">{{ slide.title }}
                            </h1>
                            <hr class="hr-light" *ngIf="slide?.showLine">
                            <br>
                            <h5 class="text-start" [ngStyle]="{'color': slide?.textColor}">
                                {{ slide.description }}</h5>
                            <br>
                            <div class="container flex-center p-0">
                                <div *ngFor="let button of slide.buttons">
                                    <button class="z-depth-4" [size]="utilityFunctions.onWindowResize()"
                                        [ngStyle]="{'background-color': button.backgroundColor}" mdbBtn type="button"
                                        [rounded]="(button.buttonType === 0) ? true : false"
                                        (click)="exportLink(button.contentHomeSlider_Id, button.linkType, button.link)"
                                        mdbWavesEffect>{{ button.title }}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </mdb-carousel-item>
</mdb-carousel>